Diagnostics:
  ClangTidy:
    Add: [modernize-*, performance-*]

CompileFlags:
  CompilationDatabase: build
  Add:
    - "--sysroot=/home/charlie/orin-sdk/sysroots/aarch64-oe4t-linux"
    - -isystem
    - "/home/charlie/orin-sdk/sysroots/aarch64-oe4t-linux/usr/include/c++/16.1.0"
    - -isystem
    - "/home/charlie/orin-sdk/sysroots/aarch64-oe4t-linux/usr/include/c++/16.1.0/aarch64-oe4t-linux"
    - -isystem
    - "/home/charlie/orin-sdk/sysroots/aarch64-oe4t-linux/usr/include/c++/16.1.0/backward"
